@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Inter', sans-serif;
}

.navbar-fixed{
    @apply fixed z-[9999] bg-orange-50 bg-opacity-70 dark:bg-dark dark:bg-opacity-50;
    backdrop-filter: blur(5px);
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.3);
}

.hamburger-line{
    @apply w-[30px] h-[2px] my-2 block bg-dark dark:bg-white;
}

.hamburger-active > span:nth-child(1){
    @apply rotate-45 ;
}

.hamburger-active > span:nth-child(2){
    @apply scale-0;
}

.hamburger-active > span:nth-child(3){
    @apply -rotate-45;
}

#dark-toggle:checked ~ label div.toggle-circle{
    @apply translate-x-3;
}

.educations_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8rem;
}

/*======================== VARIABLE CSS ========================*/
:root {
    --header-height: 1rem;

    /* ====== Color ====== */
    --color-black: #000000;
    --color-white: #fff;
    --thin-color: #9d9d9d;
    --first-color: #313f2e;
    --second-color: #ffffff;

    /* ====== Font Typhograpy ====== */
    --body-font: "Poppins", sans-serif;

    --biggest-font: 2rem;
    --normal-font: .940rem;
    --small-font: .840rem;
    --smaller-font: .80rem;
    --h1-font: 1.5rem;
    --h2-font: 1.25rem;
    --h3-font: 1.125rem;

    /* ====== Font Weight ====== */
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;

    /* ====== Margenes Bottom ====== */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /* ====== Z Index ====== */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

.home_social {
    display: grid;
    row-gap: 1rem;
}

.home_social-icon {
    font-size: 1rem;
    color: #313f2e;
    padding: 7px;
    background-color: var(--second-color);
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.home_social-icon:hover {
    background-color: var(--first-color);
    color: var(--color-white);
    transition: .3s;
}

.home_subtitle {
    font-size: var(--h1-font);
    font-weight: var(--font-semibold);
    margin: 20px 0 0 0;
}


.home_description {
    padding: 20px 60px 20px 0;
    color: var(--thin-color);
    font-weight: var(--normal-font);
}

/*======================== EDUCATIONS ========================*/
.educations_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8rem;
}

.educations_information {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    background-color: var(--second-color);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    height: auto;
    width: 70%;
    padding: 4rem 3rem;
}

.box_line_left {
    border-left: 2px solid var(--first-color);
    position: relative;
}

.education_box_content {
    margin-bottom: 20px;
    padding-left: 20px;
    position: relative;
}

.box_line_left .education_box_content::before {
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    right: 97.5%;
    top: 0;
    background-color: var(--first-color);
    border: 2px solid var(--color-white);
}

.box_title {
    background-color: var(--first-color);
    padding: 10px 20px;
    border-radius: 10px;
    color: var(--color-white);
    margin-bottom: 25px;
    display: inline-block;
}

.box_subtitle {
    color: var(--color-black);
    font-size: 1.3rem;
    margin-bottom: 5px;
}

.box_description {
    margin-bottom: 5px;
}

.box_date {
    color: var(--color-white) transparent;
    font-weight: var(--font-regular);
    font-size: 0.9rem;
}

.box_date i {
    padding-right: 7px;
}